@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap'); * {
  appearance: none; 
  background-image: linear-gradient(#C8D5BB, #47585C);
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Noto Sans JP', sans-serif;
}
a {
  text-decoration: none;
}

@-webkit-keyframes silo-fade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(1.4em);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes silo-fade {
    0% {
        opacity: 0;
        -moz-transform: translateY(1.4em);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@keyframes silo-fade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(1.4em);
        -moz-transform: translateY(1.4em);
        -ms-transform: translateY(1.4em);
        -o-transform: translateY(1.4em);
        transform: translateY(1.4em);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes silo-fade-away {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-1.4em);
        -moz-transform: translateY(-1.4em);
        -ms-transform: translateY(-1.4em);
        -o-transform: translateY(-1.4em);
        transform: translateY(-1.4em);
    }
}
.main {
  position: relative;
  height: 90vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}
.faq {
  position: relative;
  margin-top: 10px;
  height: 90vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}

.header {
  color: #47585C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headerText {
  padding: 0rem 1vw;
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

.createTask {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #47585C;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(rgba(71, 88, 92, .65), rgba(71, 88, 92, .65));
}
.createTask:hover {
  border: 2px solid #dbebcc;
}
.createTask h2 {
  color: #C8D5BB;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.blur {
  filter: blur(4px);
}
#loginButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* Form Styling */
.formCont { /*Form container*/
  position: absolute;
  z-index: 200;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 1px solid #C8D5BB;
  background-image: linear-gradient(rgba(71, 88, 92, .75), rgba(71, 88, 92, .75));
}
.cardForm { /*The form itself*/
  background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, 0));
  display: grid;
  padding: 10px;
  gap: 10px;
}
.gridRow {
  position: relative;
  align-items: center;
  gap: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, 0));
}
.gridRow input {
  padding: 10px;
  border: 2px solid #C8D5BB;
  border-radius: 10px;
  height: 45px;
  background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, 0));
  width: auto;
}
.gridRow select {
  padding: 10px;
  border: 2px solid #C8D5BB;
  border-radius: 10px;
  height: 65px;
  background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, 0));
  width: 286.683px;
}
.gridRow input:focus {
  outline: 1px solid #C8D5BB;
}
.gridRow select:focus {
  outline: 1px solid #C8D5BB;
}
.gridRow label {
  background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, 0));
  padding: 5px 0;
  font-size: 10px;
  position: absolute;
  top: 3px;
  left: 11px;
  -webkit-animation: silo-fade 0.2s;
  -moz-animation: silo-fade 0.2s;
  animation: silo-fade 0.2s;
}
.gridRow input:focus + label {
  display: block;
}
.gridRow select:focus + label {
  display: block;
}
.gridRow input:focus::placeholder{
  color: transparent;
}
.submitBut {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #47585C;
  background-image: linear-gradient(rgba(71, 88, 92, .65), rgba(71, 88, 92, .65));
}
.submitBut:focus{
  outline: 2px solid #C8D5BB;
}
.submitCont {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: auto;
}
/* Sidebar */
.openCont {
  position: absolute;
  top: 0;
  left: 0;
}
.openbtn{
  position: fixed;
  display: grid;
  background-image: linear-gradient(rgba(71, 88, 92, .65), rgba(71, 88, 92, .65));
  border-radius: 10px;
  border: 2px solid #47585C;
  width: 50px;
  height: 50px;
}
.openbtn:hover {
  border: 2px solid #dbebcc;
}
.openbtn h1 {
  margin: 0;
  padding-bottom: 10px;
  color: #C8D5BB;
  background-image: linear-gradient(rgba(71, 88, 92, 0), rgba(71, 88, 92, 0));
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-image: linear-gradient(rgba(71, 88, 92, 1), rgba(71, 88, 92, 1));
  padding-top: 60px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.sidebar > *{
  margin: auto;
}
.sidebar > * > * {
  white-space: nowrap;
  background-image: linear-gradient(rgba(71, 88, 92, 1), rgba(71, 88, 92, 1));
  color: #C8D5BB;
  display: block;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}
.sidebar > * > *:hover {
  color: white;
  transition: 0.3s;
}
.sideLink > * {
  background-image: linear-gradient(rgba(71, 88, 92, 1), rgba(71, 88, 92, 1));
}

/* Cards */
.cardProject {
  margin: 15px;
  display: flex;
  gap: 15px;
  flex-direction: row;
}
.cardCont {
  background-image: linear-gradient(rgba(71, 88, 92, .65), rgba(71, 88, 92, .65));
  display: flex;
  height: 250px;
  width: 400px;
  color: #C8D5BB;
  border: 2px solid #47585C;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  animation: silo-fade 0.5s;
  -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}
.deleting {
  animation: silo-fade-away 0.3s;
}
.cardCont *{
  background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, 0));
}
.cardCont > * {
  display: block;
  width: 350px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Hidden at the bottom for display priority */
.hidden {
  animation: silo-fade-away 0.2s;
  display: none;
}

/*Expand cards*/
.transforming {
  width: 50vw;
  height: 70vh;    
  -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.strike {
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
}
.mealLink {
  color: #C8D5BB;
}
.mealLink:hover{
  text-decoration: underline;
}
/* Checklists */
.checklist{
  height: 60vh;
}
.checkBtn{
  display: grid;
  background-image: linear-gradient(rgba(71, 88, 92, .65), rgba(71, 88, 92, .65));
  border-radius: 10px;
  border: 2px solid #47585C;
  width: 50px;
  height: 50px;
}
.checkBtn:hover {
  border: 2px solid #dbebcc;
}
.checkBtn h2 {
  margin: 0;
  padding-bottom: 0px;
  padding-top: 5px;
  color: #C8D5BB;
  background-image: linear-gradient(rgba(71, 88, 92, 0), rgba(71, 88, 92, 0));
}
.listDiv {
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: center;
  margin-bottom: 25px;
}
